<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="org.example.springframework.bean.UserDAO" init-method="initDataMethod" destroy-method="destroyDataMethod"/>

    <bean id="userService" class="org.example.springframework.bean.UserService">
        <property name="uId" value="100001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>